
  <div class="row">
        <%= render 'layouts/bookers2', user:@user ,new_book:@new_book %>


    <div class="col-md-9">
      <%= render 'searchs/search', user_or_book: @user_or_book, users: @users, books: @books %>
      <div class"books-index">
          <%= render "books/index", books: @books %>
      </div>
    </div>
  </div>


